<a href="https://colab.research.google.com/github/vardhaman3/assigment1/blob/vardhaman/assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1st answer
import pandas as pd
print(pd.__version__)

1.1.4

In [2]:
# 2nd answer
import pandas as pd 
import numpy as np 
  
google = np.array([14,25,36,47,58,69,17,28,39]) 
print("numpy array is:", google)
s = pd.Series(google) 
print("series of above numpy array is :")
print(s)

numpy array is: [14 25 36 47 58 69 17 28 39]
series of above numpy array is :
0    14
1    25
2    36
3    47
4    58
5    69
6    17
7    28
8    39
dtype: int64

In [3]:
# 3rd answer
import pandas as pd 
import numpy as np 
data = np.array([14,25,36,47,58,69,17,28,39]) 
print("numpy array is:", data)
google = pd.Series(data) 
print("series of above numpy array is :")
print(google)
pd.DataFrame(google, columns=['ABC'])

numpy array is: [14 25 36 47 58 69 17 28 39]
series of above numpy array is :
0    14
1    25
2    36
3    47
4    58
5    69
6    17
7    28
8    39
dtype: int64

   ABC
0   14
1   25
2   36
3   47
4   58
5   69
6   17
7   28
8   39

In [4]:
#4th answer
import seaborn as sns
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']